@{
    ViewBag.Title = "New Issue";
}
@using IssueTracker.Helpers;
<div class="alert alert-block alert-error @(ViewData.ModelState.IsValid ? "hide" : "")">
    @Html.ValidationSummary(false,"please correct all errors below")
</div>
@Html.RenderMessages()
<div class="well">
    <form method="post" action="@Url.Action("New","Issues")" class="form-horizontal">
        <fieldset>
            @Html.AntiForgeryToken()
            <legend>New Issue</legend>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" name="name" placeholder="Name" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input type="text" name="email" placeholder="Email" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls">
                    <input type="text" name="title" placeholder="Title" class="input-xxlarge">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea name="description" placeholder="Description" style="width: 530px; height: 150px;"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Submit Issue</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>

